.container {
    padding: 0 2rem;
}
.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
    margin: 4rem 0;
    line-height: 1.5;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
}

/*.code {*/
/*    background: #fafafa;*/
/*    color: #d63384;*/
/*    border-radius: 5px;*/
/*    padding: 0.5rem;*/
/*    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,*/
/*    Bitstream Vera Sans Mono, Courier New, monospace;*/
/*}*/

.link {
    position: relative;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

.link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: darkblue;
    transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
}

.zoneItem {
    padding-bottom: 6px;
    font-size: 1.1rem;
}

.zonecode {
    font-weight: bold;
    /*line-height: 3px;*/
    color: #d63384;
    padding: 4px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.zonecode:hover {
    background-color: rgba(243, 21, 147, 0.04);
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }

    .logo img {
        filter: invert(1);
    }
    .link::after {
        background-color: #ffc;
    }
    .link{
        color: #ffc;
    }
    .zonecode {

    }
    .zonecode:hover {
        background-color: rgba(214,51,132, 0.2);
        cursor: pointer;
    }
}