.container {
    padding: 0 2rem;
}
.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
    margin: 4rem 0;
    line-height: 1.5;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
}


.link {
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
}

.zonecode {
    font-size: 1rem;
    padding: 4px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.zonecode:hover {
    background-color: rgba(243, 21, 147, 0.04);
    cursor: pointer;
}
